Django==4.2.17
pdfkit==0.6.1
configparser==3.5.0
androguard==3.2.1
lxml==4.2.4
rsa==3.4.2
biplist==1.0.3
git+https://github.com/MobSF/CapFuzz.git
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
